################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/html to pdf/bin/Rotativa.dll
