<div class="page-header ">
    <h1 style=" color: #9e9e9e; ">      <i class="md md-dashboard"></i>  PdfLibrary is an open source package.</h1>
    <p class="lead"> We can easily generate the pdf using their library </p>
</div>

﻿Tools like Crystal Reports can be used to print views displaying reports, and can even create and print these reports in a printer friendly document. To do so, the report has to be converted into PDF by exporting it to a stream and then converting that stream into a PDF.



Generating PDF, reports or any document in MVC is generally the basic requirement in most of the projects.
PdfLibrary is an asp.net library which helps in spawning PDFs from MVC controller.This tool gives us the flexibility to create PDFs directly from views or partial views .

PdfLibrary is based on the wkhtmltopdf tool to create a PDF document from HTML that renders in the browser.