<form class="form-horizontal"   method="post" >

    <div class="control-group">
        <label class="control-label">html code</label>
        <div class="controls">
            <textarea rows="20" style="width:600px" name="texthtml" id="texthtml"></textarea>
        </div>
    </div>


    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn" value="Export to PDF" />
        </div>
    </div>

</form>