@{
    Layout = null;
}


<article class="markdown-body entry-content p-5" itemprop="text">
    <h1><a id="user-content-extremely-easy-way-to-create-pdf-files-from-aspnet-mvc" class="anchor" aria-hidden="true" href="#extremely-easy-way-to-create-pdf-files-from-aspnet-mvc"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Extremely easy way to create Pdf files from Asp.net MVC.</h1>
    <h2><a id="user-content-usage" class="anchor" aria-hidden="true" href="#usage"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Usage:</h2>
    <div class="highlight highlight-source-cs">
        <pre><span class="pl-k">public</span> <span class="pl-en">ActionResult</span> <span class="pl-en">PrintIndex</span>()
{
        <span class="pl-k">return</span> <span class="pl-k">new</span> <span class="pl-en">ActionAsPdf</span>(<span class="pl-s"><span class="pl-pds">"</span>Index<span class="pl-pds">"</span></span>, <span class="pl-k">new</span> { <span class="pl-smi">name</span> <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">"</span>Giorgio<span class="pl-pds">"</span></span> }) { <span class="pl-smi">FileName</span> <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">"</span>Test.pdf<span class="pl-pds">"</span></span> };
}

<span class="pl-k">public</span> <span class="pl-en">ActionResult</span> <span class="pl-en">Index</span>(<span class="pl-k">string</span> <span class="pl-smi">name</span>)
{
        <span class="pl-smi">ViewBag</span>.<span class="pl-smi">Message</span> <span class="pl-k">=</span> <span class="pl-smi">string</span>.<span class="pl-en">Format</span>(<span class="pl-s"><span class="pl-pds">"</span>Hello {0} to ASP.NET MVC!<span class="pl-pds">"</span></span>, <span class="pl-smi">name</span>);

        <span class="pl-k">return</span> <span class="pl-en">View</span>();
}</pre>
    </div>
    <p>ViewAsPdf now available. It enables you to render a view as pdf in just one move, thanks to scoorf</p>
    <div class="highlight highlight-source-cs">
        <pre><span class="pl-k">public</span> <span class="pl-en">ActionResult</span> <span class="pl-en">TestViewWithModel</span>(<span class="pl-k">string</span> <span class="pl-smi">id</span>)
{
        <span class="pl-k">var</span> <span class="pl-smi">model</span> <span class="pl-k">=</span> <span class="pl-k">new</span> <span class="pl-en">TestViewModel</span> {<span class="pl-smi">DocTitle</span> <span class="pl-k">=</span> <span class="pl-smi">id</span>, <span class="pl-smi">DocContent</span> <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">"</span>This is a test<span class="pl-pds">"</span></span>};
        <span class="pl-k">return</span> <span class="pl-k">new</span> <span class="pl-en">ViewAsPdf</span>(<span class="pl-smi">model</span>);
}</pre>
    </div>
    <p>Also available a RouteAsPdf, UrlAsPdf and ViewAsPdf ActionResult.</p>
    <p>It generates Pdf also from authorized actions (web forms authentication).</p>
    <p>You can also output images from MVC with ActionAsImage, ViewAsImage, RouteAsImage, UrlAsImage.</p>
    <h2><a id="user-content-rotativa-for-aspnet-core" class="anchor" aria-hidden="true" href="#rotativa-for-aspnet-core"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Rotativa for Asp.Net Core</h2>
    <p>
        Please check the new repo here:
        <a href="https://github.com/webgio/Rotativa.AspNetCore">Rotativa.AspNetCore</a>
    </p>
    <h2><a id="user-content-rotativaio" class="anchor" aria-hidden="true" href="#rotativaio"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>rotativa.io</h2>
    <p><a href="https://rotativa.io" rel="nofollow">rotativa.io</a> is an API (SaaS) version of Rotativa, hosted on Azure. Works with just a HTTP call, no need to host the process on your server. You can register for free.</p>
</article>